body {
 padding:0;
 margin:0;
}

.btn {
  cursor: pointer;
}

.wrapper {
  position:relative
}

.open_area {
  position:absolute;
  left: 38px;
  top: 15px;
  background-color:#fff;
  padding:20px;
  border:1px solid #eee;
  border-radius:8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.react-calendar__month-view__weekdays__weekday:last-child {
  color:#6464d4
}
.react-calendar__month-view__weekdays__weekday:first-child {
  color:#d10000
}